# ============================================
# ORQESTRA — Environment Variables Template
# Copy this file to .env and fill in values
# NEVER commit .env to Git
# ============================================

# POSTGRES
POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_db_name

# REDIS
REDIS_URL=redis://redis:6379

BACKEND_URL=http://localhost
FRONTEND_URL=http://localhost

# API
SECRET_KEY=your_secret_key
ENVIRONMENT=development

# FRONTEND
VITE_API_URL=http://localhost/api

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=your_github_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# LLM (Free)
GEMINI_API_KEY=your_gemini_api_key
GROQ_API_KEY=your_groq_api_key
ELEVENLABS_API_KEY=your_elevenlabs_api_key
ELEVENLABS_VOICE_ID=pNInz6obpgDQGcFmaJgB

# Monitoring (we fill these in Phase 3)
LANGFUSE_HOST=https://cloud.langfuse.com
DATABASE_URL=postgresql://your_username:password@localhost:5433/db_name


JINA_API_KEY=your_jina_api_key
OPENROUTER_API_KEY=your_openrouter_api_key
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
DEEPGRAM_API_KEY=your_deepgram_api_key
DEEPGRAM_VOICE_MODEL=aura-asteria-en
RESEND_API_KEY=your_resend_api_key
RESEND_FROM_EMAIL=noreply@orqestra.me
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key
LANGFUSE_SECRET_KEY=your_langfuse_secret_key